*::before, ::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    overflow-x: hidden;
    font-family: "Open Sans", sans-serif;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.main_content{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}



nav {
    display: flex;
    color: #eee;
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    padding: 0 2rem;
}

nav > ul > li {
    border: #eee solid 0.2px;
    padding: 8px;
    border-radius: 50px;
}

nav > ul > li:hover {
    cursor: pointer;
    color: #FFB5DA;
    transition: 1.5s;
}

.title {
    color: #eee;
    z-index: 2;
    position: absolute;
    font-size: 3rem;
    left: 50%;
    top: 25%;
    transform: translate(-50%, 500%);
}


.webgl{
    width: 100%;
    height: auto;
}

canvas {
    display: block;
    width: 591px;
    height: 600px; /* Limiting the height to 600px */
    background: #000; /* Optional, to give a background color to the canvas */
}






#info__page{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 3;
    background-image: url('../img/paper.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    flex-direction: column;
    gap: 1rem;
}


.header{
    display: flex;
    height: 5rem;
    padding: 1.4rem 1.4rem .5rem;
}

.header__button{
    height: 5rem;
    width: 5rem;
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
    padding: 1.2rem;
    rotate: 5deg;
}

.header__button__img{
    height: 100%;
    width: 100%;
}

.header__tekst{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-right: 6rem;
    font-family: Edwardian Script ITC;
    font-size: 4rem;
    font-weight: 200;
}

h1{
    margin: 0;
    height: 5rem;
}



.animation{
    padding: 1.4rem 2rem;
    display: grid;
    grid-template-columns: 64% 34%;
    gap: 2%;
}

.animation__video{
    position: relative;
}

#video{
    height: 100%;
    width: 100%;
}

#playButton{
    position: absolute;
    bottom: 2%;
    left: 1%;
}

#playButton {
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    border-left: 2rem solid white;
    border-top: 1rem solid transparent;
    border-bottom: 1rem solid transparent;
}

.pause-icon:before,
.pause-icon:after {
    content: '';
    position: absolute;
    top: 0;
    width: 0.6rem;
    height: 2rem;
    background: white;
}
.pause-icon:before {
    left: 0.25rem;
}
.pause-icon:after {
    right: 0.25rem;
}

.render{
    padding: 1.4rem 2rem;
    display: grid;
    grid-template-columns: 34% 64%;
    gap: 2%;
}

#cube-container {
    width: 100%;
    height: 400px;
    margin: 20px 0;
}